<div id="sidebar">
	<div id="searchContainer">
			<ul style="width: 180px"><li id="save" style="color: green; font-size: 25px;">Saved</li></ul>
	<div id="sidebarContainer">
	<em>tags: </em><p id='tagContainer'></p></div>
	</div>
</div>

