<header>
	<div id="navbar">
		<div id="logo-d">
			<h1>
				<a href="/" id="logo-a">
					<span id="logo-s">Notes! Notes! Notes!</span>
				</a>
			</h1>
		</div>

		<% if ( typeof signedInUser !== 'undefined' ) { %>
	
		<div id="navUser-d">
			<span id="navUser-s">
				<span id="navUserName"><%= signedInUser.username -%></span>
				<span id="navUserPic"><%= signedInUser.avatar %></span>
			</span>
		</div>
		<% } else if( typeof loginPage !== 'undefined' ) {} else { %>
			<%- include navbarmenu.ejs %>
		<div id="navLogin-d">
			<a href="/login" id="navLogin-a">
				<span id="navLogin-s">Log In</span>
			</a>
		</div>
		<% } %>
	</div>
</header>