<header>
	<div id="navbar">
		<div id="logo-d">
			<h1>
				<a href="/home" id="logo-a">
					<span id="logo-s">Notes! Notes! Notes!</span>
				</a>
			</h1>
		</div>

		<% if ( typeof signedInUser !== 'undefined' ) { %>
			<% if ( typeof home !== 'undefined' || typeof search !== 'undefined' ) { -%><% include navbarmenu.ejs %><% } -%>
			<% if ( typeof selectedNotebook !== 'undefined' ) { -%><% include selectedmenubar.ejs %><% } -%>
		<div id="navUser-d">
			<a href="homehelp"
			   onclick="window.open('/homehelp', '_blank', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=600,height=520,left = 400,top = 200'); return false;"
			   target="newWin" style='margin-left:20px; color: #FF0000; font-weight:bold;'>? </a>
			<a href="/logout" id="navUser-a">
				<span id="navUserName"><%= signedInUser.fname + ' ' + signedInUser.lname %></span>
			</a>
		</div>
		<% } else if( typeof noLogin !== 'undefined' ) {} else { %>
		<div id="navLogin-d">
			<a href="homehelp"
			   onclick="window.open('/homehelp', '_blank', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=600,height=520,left = 400,top = 200'); return false;"
			   target="newWin" style='margin-left:20px; color: #FF0000; font-weight:bold;'>? </a>
			<a href="/login" id="navLogin-a">
				<span id="navLogin-s">Log In</span>
			</a>
		</div>
		<% } %>
	</div>
</header>