<ul class="topnav">
    <li><a href="#">Create</a></li>
    <li class="hmenu"><a href="/selectedNotebook">Open</a></li>
    <li class="hmenu"><a href="#">Download</a></li>
    <li class="hmenu"><a href="/share">Share</a></li>
    <li class="hmenu"><a href="#">Delete</a></li>
</ul>