<ul class="topnav">
	<li><a href="/<%= selectedNotebook._id %>/create">Create</a></li>
	<li class="smenu" id="edit"><a href='#' class="links">Edit</a></li>
	<li class="smenu" id="view"><a href='#' class="links">View</a></li>
	<li class="hmenu"><a href="#">Download</a></li>
	<li class="hmenu"><a href="/share">Share</a></li>
</ul>