<div class='search_header'>Share</div>
<table style='margin-top:30px'>
	<tbody>
		<tr>
			<td>
				<form id="search_form" style='margin-top:0;'>
					<label for='share-email'>Search by Name or Email for Users to share with</label>
					<input type='text' class='form-control' id='share-email' placeholder='Enter Name or Email' style='margin:10 0 10 0;' />
					<button type='submit' class='btn btn-primary'>Search</button>
				</form>
			</td>
		</tr>
	</tbody>
</table>