<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/stylesheets/application.min.css">
<title>Edit Help</title>
<body>
<ul>
<li><b>Download: </b>Simply click this button to download your text file as a PDF, MS word doc, or a plain text file</li>
<li><b>Update Tags: </b>Click here to update tags for the current document. Each tag will be separated by a space. Press enter when finished.</li>
<li><b>Share: </b>Click here to share your document with other users. You will be redirected to the share page on click.</li>
<li><b>Title: </b>The title of your document is shown here. If you would like to change it, just  click it and type your new title, then press enter!</li>
<li><b>Document: </b>Here is where your document is shown. It is updated every 10 seconds per user currently editing it. You can edit simultaneously with other users. Currently, you are unable to see who is editing what.</li>
<li><b>Saving: </b>The document saves every 10 seconds per user currently viewing it. To see if your changes have been changed, look in the sidebar for a green or red circle with the words Saved, Saving.., or Not Saved.
	<ul>
	<li><em>Saved: </em>Your document is up-to-date and can be quit with no fear of anything being deleted.</li>
	<li><em>Saving..: </em>Your document is currently saving. This should be very quick, and will appear every 10 seconds.</li>
	<li><em>Not Saved: </em>You have made changes to the document that have not been saved yet. Please wait a few seconds for the light to turn green before closing the page in order to commit those changes.</li>
	</ul>
</li>
</ul>