<% include partials/head.ejs %>
<% include partials/navbar.ejs %>

<div id='body'>
	<div id="home"></div>
	<% include partials/sidebar.ejs %>
	<div id="mainContent">
		<div id="yourContent">
			<div class="header">Notebooks</div>
			<div class="content">
				<% include partials/results.ejs %>
				<div id="nContainer"></div>
			</div>
		</div>
	</div>
</div>

<% include partials/foot.ejs %>