<% include partials/head.ejs %>
<% include partials/navbar.ejs %>

<div id='body' class="centered">
	<div id="index"></div>
	<h1>Notes! Notes! Notes!</h1>

	<h2>Who are we?</h2>

	<div style="margin-bottom:20px;">Description Goes Here</div>
	<button class='btn btn-success btn-lg' onclick="window.location.href='/login'">Sign Up Now!</button>
</div>

<% include partials/foot.ejs %>