<% include partials/head %>
<% include partials/navbar %>
<% include partials/navbar_edit %>

<script> var id = "<%= id %>"; </script>

	<div id = "body">
		<div id="takeNote"></div>
		<% include partials/editSidebar %>
		<div id = "mainContent">
			<div class = "header" id="title"></div>
			<input type='text' id="title_input" name="title" class="input_style" style="display: none"/>	
			<input type='text' id="tag_input" name="tag" class="input_style" style="display: none; position: absolute;"/>
			<div id = "document">
				<textarea id = "text-editor">
				</textarea>
			</div>
		</div>
	</div>
</div>

<% include partials/foot %>