<% include partials/head.ejs %>
<% include partials/navbar.ejs %>

<div id='body'>
	<div id="selectedNotebook"></div>
	<% include partials/sidebar.ejs %>

	<div id="mainContent">
		<div class="header"><%= selectedNotebook.title %></div>
		<div class="content">
			<% include partials/results.ejs %>
			<div id="nContainer"></div>
		</div>
	</div>
</div>
</div>

<% include partials/foot.ejs %>