<% include partials/head %>
<% include partials/navbar %>

<div id='body'>
	<div id="share"></div>
	<% include partials/share_sidebar %>
	<div id='results'>
		<% include partials/share_searchbar %>
		<table id='search_results_div'></table>
		<div id='edit_results_div'></div>
	</div>
</div>

<% include partials/foot %>