<title>Sharing - Notes! Notes! Notes!</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/share.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
<script type="text/javascript" src="/javascripts/getResults_ajax.js"></script>


<header id='page_header'>
			<% include partials/navbar %>
</header>


<div id='body'>

		<% include partials/share_sidebar %>
	<div id='results'>
		<% include partials/share_searchbar %>
		<table id='search_results_div'></table>	
		<div id='edit_results_div'></div>
	</div>

</div>