<% include partials/head %>
<% include partials/navbar %>

<div id="body">
	<div id="viewNote"></div>
	<% include partials/sidebar %>
	<div id="mainContent">
		<div class="header" id="title"></div>
		<div id="document">
			<p id="text">
			</p>
		</div>
	</div>
</div>

<% include partials/foot %>