<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/notes_style.css">
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../socket.io/socket.io.js"></script>
	<script src="../javascripts/viewnote.js"></script>
	<script> var id = "<%= id %>"; </script>

	<header>
		<% include partials/navbar %>
	</header>

	<div id = "body">
		<% include partials/sidebar %>
		<div id = "mainContent">
			<div class = "header" id="title"></div>
			<div id = "document">
				<p id = "text">
				</p>
			</div>
		</div>
	
	</div>


</html>

