/*-----Sidebar-----*/
#sidebar {
	background-color: rgb(243, 243, 243);
	display: block;
	height: 100%;
	position: absolute;
	width: 180px;
	bottom: 0;
	left: 0;
	top: 0;
}

#sidebar * {
	position: absolute;
}

/*Search*/
#searchContainer {
	height: 70px;
	width: 180px;
}

#searchBox {
	background-color: white;
	border: #bababa 1px solid;
	height: 28px;
	line-height: 28px;
	padding-right: 35px;
	width: 125px;
	left: 10px;
	right: 10px;
	top: 10px;
}

#searchBox:hover {
	border-color: #8f8f8f;
}

#searchBox_label {
	line-height: 19px;
}

#searchField {
	border: none;
	color: rgb(102, 102, 102);
	display: inline-block;
	font-size: 14px;
	height: 22px;
	margin: 0 8px;
	padding: 2px 0 4px 0;
	position: relative;
	width: 123px;
}

#searchButton {
	background: url("/images/searchIcon.png");
	border: none;
	cursor: pointer;
	height: 16px;
	min-width: 0;
	overflow: hidden;
	padding: 4px 0 0 0;
	width: 16px;
	right: 9px;
	top: .45em;
}